body {
        background-color: rgb(211, 156, 100);
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        width: 1000px;
        height:100%;
        
           }

#wrap    { border: 4px dotted black;
        font-style: italic;
        background-color: rgb(228, 218, 184);
      
                                    }


h1      {border: 4px dotted black;
        border-top: 0px;
        border-left: 0px;
        border-right:0px;
        font-style: italic;
        font-weight: bolder;
        font-size: 50px;
        padding: 10px;
        padding-top: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
}
                                    

p       {font-size: 23px;
        font-style: normal;
        margin-top: 25px;
        padding-top: 0px;
        padding-bottom:0px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: 1px;
        }         

.poem {
        list-style-type: none;
        font-style: italic;
        font-size: x-large;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top:5px;
        padding-bottom: 5px;
        letter-spacing: 1px;
}

li::first-letter {  
        font-weight: bold;
        font-size:26px ;
       }

.copyright {text-align: center;
        height:0px;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 25px;
        padding-top: 0px;
        padding-bottom: 0px;
                font-size: large;}
                


/*

#wrap { 
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}



h1 {font-size: xx-large;}

.poem {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 23px;
}

li {list-style-type: none;}
li::first-letter {  
                    font-weight: bold;
                    font-size:26px }